body {
  height: auto;
}
ul.ant-menu li {
  margin: 0 !important;
}
.ant-drawer-body {
  padding: 0 !important;
}
// input {
//   height: 40px;
// }
.textAlignLeft {
  text-align: left !important;
}

.ant-upload-list-picture-card-container, .ant-upload.ant-upload-select-picture-card {
  width: 120px !important;
  height: 120px !important;
}